<div class="d-flex align-items-center justify-content-center" style="height: 300px"> </div>
        <% layout('layouts/boilerplate')%>
                <div class="d-flex justify-content-md-center" style="background-color:rgba(0,0,255,.1)">
                <h1><%= product.name %> </h1>
                </div>
                <div class="d-flex justify-content-md-center" style="background-color:rgba(0,0,255,.1)">
                <ul>
                    <li>Price: $<%= product.price %></li>
                    <li>Category: <a href="/products?category=<%= product.category%>"><%= product.category %></a></li>
                </ul>
                </div>
                <hr>
                <div class="d-flex justify-content-md-center ">
                <a href="/products" class="btn btn-dark">All Products</a>
                <a href="/products/<%=product._id%>/edit" class="btn btn-primary">Edit Products</a>
                <p>
                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                     <button class="btn btn-danger" >Delete</button>
                    </form>
                </p>
                </div>
            
        